
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Honda Corregidora</h3>
<span class="single-project-content">
	<br>
                    <img alt="Honda Corregidora" src="images/fachada-corregidora.jpg"></span> 
                    <li><span><i class="fa fa-home"></i>Lateral Autopista México - Querétaro #2108</span> <span>Col. Parque Comercial Papanoa. </span> <span>Querétaro, Querétaro.</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			 
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29878.22149134387!2d-100.41737029684263!3d20.597134506850747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d344d9b40b8123%3A0xf01e5d97db3fe36e!2sHonda+Fame+Corregidora!5e0!3m2!1ses!2smx!4v1537998719363" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		 
            </div>

					</div>
				</div>
			</div>

		</div><br>

</body>
</html>